AWSTemplateFormatVersion: 2010-09-09
Metadata:
  'AWS::CloudFormation::Designer':
    ee320618-757f-4b29-b8e1-6ba64bf40078:
      size:
        width: 690
        height: 410
      position:
        x: 110
        'y': 30
      z: 0
      embeds:
        - 2c77e30e-61d0-48b0-b337-21db1e13f887
        - e55d4a5d-b595-47b3-9306-5709ccade2c2
        - 5ec24ea2-9deb-4fd3-9131-b2a02eaf6bb5
    5ec24ea2-9deb-4fd3-9131-b2a02eaf6bb5:
      size:
        width: 250
        height: 190
      position:
        x: 190
        'y': 100
      z: 1
      parent: ee320618-757f-4b29-b8e1-6ba64bf40078
      embeds:
        - 4c81200b-5e79-4b30-a37a-96f654b652dc
      iscontainedinside:
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
    4c81200b-5e79-4b30-a37a-96f654b652dc:
      size:
        width: 60
        height: 60
      position:
        x: 286
        'y': 167
      z: 2
      parent: 5ec24ea2-9deb-4fd3-9131-b2a02eaf6bb5
      embeds: []
      iscontainedinside:
        - 5ec24ea2-9deb-4fd3-9131-b2a02eaf6bb5
        - 5ec24ea2-9deb-4fd3-9131-b2a02eaf6bb5
        - 5ec24ea2-9deb-4fd3-9131-b2a02eaf6bb5
        - 5ec24ea2-9deb-4fd3-9131-b2a02eaf6bb5
        - 5ec24ea2-9deb-4fd3-9131-b2a02eaf6bb5
        - 5ec24ea2-9deb-4fd3-9131-b2a02eaf6bb5
        - 5ec24ea2-9deb-4fd3-9131-b2a02eaf6bb5
        - 5ec24ea2-9deb-4fd3-9131-b2a02eaf6bb5
        - 5ec24ea2-9deb-4fd3-9131-b2a02eaf6bb5
        - 5ec24ea2-9deb-4fd3-9131-b2a02eaf6bb5
        - 5ec24ea2-9deb-4fd3-9131-b2a02eaf6bb5
        - 5ec24ea2-9deb-4fd3-9131-b2a02eaf6bb5
        - 5ec24ea2-9deb-4fd3-9131-b2a02eaf6bb5
        - 5ec24ea2-9deb-4fd3-9131-b2a02eaf6bb5
        - 5ec24ea2-9deb-4fd3-9131-b2a02eaf6bb5
      dependson:
        - 9b92c0a6-4767-4cc3-9ecf-278283f29616
    e55d4a5d-b595-47b3-9306-5709ccade2c2:
      size:
        width: 60
        height: 60
      position:
        x: 467
        'y': 171
      z: 1
      parent: ee320618-757f-4b29-b8e1-6ba64bf40078
      embeds: []
      iscontainedinside:
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
    08d031cc-ba21-4128-9eae-8042527b4903:
      size:
        width: 60
        height: 60
      position:
        x: 10
        'y': 110
      z: 0
      embeds: []
    0163b35d-0ccc-481d-9fff-71cc6586b146:
      source:
        id: ee320618-757f-4b29-b8e1-6ba64bf40078
      target:
        id: 08d031cc-ba21-4128-9eae-8042527b4903
      z: 0
    2c77e30e-61d0-48b0-b337-21db1e13f887:
      size:
        width: 140
        height: 94
      position:
        x: 304
        'y': 336
      z: 1
      parent: ee320618-757f-4b29-b8e1-6ba64bf40078
      embeds:
        - 9b92c0a6-4767-4cc3-9ecf-278283f29616
      iscontainedinside:
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
        - ee320618-757f-4b29-b8e1-6ba64bf40078
    9b92c0a6-4767-4cc3-9ecf-278283f29616:
      size:
        width: 60
        height: 60
      position:
        x: 349
        'y': 361
      z: 2
      parent: 2c77e30e-61d0-48b0-b337-21db1e13f887
      embeds: []
      iscontainedinside:
        - 2c77e30e-61d0-48b0-b337-21db1e13f887
        - 2c77e30e-61d0-48b0-b337-21db1e13f887
        - 2c77e30e-61d0-48b0-b337-21db1e13f887
        - 2c77e30e-61d0-48b0-b337-21db1e13f887
        - 2c77e30e-61d0-48b0-b337-21db1e13f887
        - 2c77e30e-61d0-48b0-b337-21db1e13f887
        - 2c77e30e-61d0-48b0-b337-21db1e13f887
        - 2c77e30e-61d0-48b0-b337-21db1e13f887
        - 2c77e30e-61d0-48b0-b337-21db1e13f887
        - 2c77e30e-61d0-48b0-b337-21db1e13f887
        - 2c77e30e-61d0-48b0-b337-21db1e13f887
      dependson:
        - 08d031cc-ba21-4128-9eae-8042527b4903
    e7d98379-428f-4353-bbe5-a75848334dee:
      source:
        id: 2c77e30e-61d0-48b0-b337-21db1e13f887
      target:
        id: 5ec24ea2-9deb-4fd3-9131-b2a02eaf6bb5
      z: 1
Resources:
  VPC:
    Type: 'AWS::EC2::VPC'
    Properties:
      EnableDnsSupport: 'true'
      EnableDnsHostnames: 'true'
      CidrBlock: 10.0.0.0/16
    Metadata:
      'AWS::CloudFormation::Designer':
        id: ee320618-757f-4b29-b8e1-6ba64bf40078
  PublicSubnet:
    Type: 'AWS::EC2::Subnet'
    Properties:
      VpcId: !Ref VPC
      CidrBlock: 10.0.0.0/24
    Metadata:
      'AWS::CloudFormation::Designer':
        id: 5ec24ea2-9deb-4fd3-9131-b2a02eaf6bb5
  WebServerInstance:
    Type: 'AWS::EC2::Instance'
    Properties:
      InstanceType: !Ref InstanceType
      ImageId: !FindInMap 
        - AWSRegionArch2AMI
        - !Ref 'AWS::Region'
        - !FindInMap 
          - AWSInstanceType2Arch
          - !Ref InstanceType
          - Arch
      KeyName: !Ref KeyName
      NetworkInterfaces:
        - GroupSet:
            - !Ref WebServerSecurityGroup
          AssociatePublicIpAddress: 'true'
          DeviceIndex: '0'
          DeleteOnTermination: 'true'
          SubnetId: !Ref PublicSubnet
      UserData: !Base64 
        'Fn::Join':
          - ''
          - - |
              #!/bin/bash -xe
            - |
              yum install -y aws-cfn-bootstrap
            - |
              # Install the files and packages from the metadata
            - '/opt/aws/bin/cfn-init -v '
            - '         --stack '
            - !Ref 'AWS::StackName'
            - '         --resource WebServerInstance '
            - '         --configsets All '
            - '         --region '
            - !Ref 'AWS::Region'
            - |+

            - |
              # Signal the status from cfn-init
            - '/opt/aws/bin/cfn-signal -e $? '
            - '         --stack '
            - !Ref 'AWS::StackName'
            - '         --resource WebServerInstance '
            - '         --region '
            - !Ref 'AWS::Region'
            - ''
    Metadata:
      'AWS::CloudFormation::Designer':
        id: 4c81200b-5e79-4b30-a37a-96f654b652dc
      'AWS::CloudFormation::Init':
        configSets:
          All:
            - ConfigureSampleApp
        ConfigureSampleApp:
          packages:
            yum:
              httpd: []
          files:
            /var/www/html/index.html:
              content: !Join 
                - |+

                - - >-
                    <h1>Congratulations, you have successfully launched the AWS
                    CloudFormation sample.</h1>
              mode: '000644'
              owner: root
              group: root
          services:
            sysvinit:
              httpd:
                enabled: 'true'
                ensureRunning: 'true'
    DependsOn:
      - PublicRoute
  WebServerSecurityGroup:
    Type: 'AWS::EC2::SecurityGroup'
    Properties:
      VpcId: !Ref VPC
      GroupDescription: Allow access from HTTP and SSH traffic
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: '80'
          ToPort: '80'
          CidrIp: 0.0.0.0/0
        - IpProtocol: tcp
          FromPort: '22'
          ToPort: '22'
          CidrIp: !Ref SSHLocation
    Metadata:
      'AWS::CloudFormation::Designer':
        id: e55d4a5d-b595-47b3-9306-5709ccade2c2
  InternetGateway:
    Type: 'AWS::EC2::InternetGateway'
    Properties: {}
    Metadata:
      'AWS::CloudFormation::Designer':
        id: 08d031cc-ba21-4128-9eae-8042527b4903
  EC2VPCG1UWO5:
    Type: 'AWS::EC2::VPCGatewayAttachment'
    Properties:
      VpcId: !Ref VPC
      InternetGatewayId: !Ref InternetGateway
    Metadata:
      'AWS::CloudFormation::Designer':
        id: 0163b35d-0ccc-481d-9fff-71cc6586b146
  PublicRouteTable:
    Type: 'AWS::EC2::RouteTable'
    Properties:
      VpcId: !Ref VPC
    Metadata:
      'AWS::CloudFormation::Designer':
        id: 2c77e30e-61d0-48b0-b337-21db1e13f887
  PublicRoute:
    Type: 'AWS::EC2::Route'
    Properties:
      RouteTableId: !Ref PublicRouteTable
      GatewayId: !Ref InternetGateway
      DestinationCidrBlock: 0.0.0.0/0
    Metadata:
      'AWS::CloudFormation::Designer':
        id: 9b92c0a6-4767-4cc3-9ecf-278283f29616
    DependsOn:
      - InternetGateway
  EC2SRTA4R1S3:
    Type: 'AWS::EC2::SubnetRouteTableAssociation'
    Properties:
      RouteTableId: !Ref PublicRouteTable
      SubnetId: !Ref PublicSubnet
    Metadata:
      'AWS::CloudFormation::Designer':
        id: e7d98379-428f-4353-bbe5-a75848334dee
Parameters:
  InstanceType:
    Description: WebServer EC2 instance type
    Type: String
    Default: t2.small
    AllowedValues:
      - t1.micro
      - t2.nano
      - t2.micro
      - t2.small
      - t2.medium
      - t2.large
      - m1.small
      - m1.medium
      - m1.large
      - m1.xlarge
      - m2.xlarge
      - m2.2xlarge
      - m2.4xlarge
      - m3.medium
      - m3.large
      - m3.xlarge
      - m3.2xlarge
      - m4.large
      - m4.xlarge
      - m4.2xlarge
      - m4.4xlarge
      - m4.10xlarge
      - c1.medium
      - c1.xlarge
      - c3.large
      - c3.xlarge
      - c3.2xlarge
      - c3.4xlarge
      - c3.8xlarge
      - c4.large
      - c4.xlarge
      - c4.2xlarge
      - c4.4xlarge
      - c4.8xlarge
      - g2.2xlarge
      - g2.8xlarge
      - r3.large
      - r3.xlarge
      - r3.2xlarge
      - r3.4xlarge
      - r3.8xlarge
      - i2.xlarge
      - i2.2xlarge
      - i2.4xlarge
      - i2.8xlarge
      - d2.xlarge
      - d2.2xlarge
      - d2.4xlarge
      - d2.8xlarge
      - hi1.4xlarge
      - hs1.8xlarge
      - cr1.8xlarge
      - cc2.8xlarge
      - cg1.4xlarge
    ConstraintDescription: must be a valid EC2 instance type.
  KeyName:
    Description: Name of an EC2 KeyPair to enable SSH access to the instance.
    Type: 'AWS::EC2::KeyPair::KeyName'
    ConstraintDescription: must be the name of an existing EC2 KeyPair.
  SSHLocation:
    Description: ' The IP address range that can be used to access the web server using SSH.'
    Type: String
    MinLength: '9'
    MaxLength: '18'
    Default: 0.0.0.0/0
    AllowedPattern: '(\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})/(\d{1,2})'
    ConstraintDescription: must be a valid IP CIDR range of the form x.x.x.x/x.
Mappings:
  AWSInstanceType2Arch:
    t1.micro:
      Arch: HVM64
    t2.nano:
      Arch: HVM64
    t2.micro:
      Arch: HVM64
    t2.small:
      Arch: HVM64
    t2.medium:
      Arch: HVM64
    t2.large:
      Arch: HVM64
    m1.small:
      Arch: HVM64
    m1.medium:
      Arch: HVM64
    m1.large:
      Arch: HVM64
    m1.xlarge:
      Arch: HVM64
    m2.xlarge:
      Arch: HVM64
    m2.2xlarge:
      Arch: HVM64
    m2.4xlarge:
      Arch: HVM64
    m3.medium:
      Arch: HVM64
    m3.large:
      Arch: HVM64
    m3.xlarge:
      Arch: HVM64
    m3.2xlarge:
      Arch: HVM64
    m4.large:
      Arch: HVM64
    m4.xlarge:
      Arch: HVM64
    m4.2xlarge:
      Arch: HVM64
    m4.4xlarge:
      Arch: HVM64
    m4.10xlarge:
      Arch: HVM64
    c1.medium:
      Arch: HVM64
    c1.xlarge:
      Arch: HVM64
    c3.large:
      Arch: HVM64
    c3.xlarge:
      Arch: HVM64
    c3.2xlarge:
      Arch: HVM64
    c3.4xlarge:
      Arch: HVM64
    c3.8xlarge:
      Arch: HVM64
    c4.large:
      Arch: HVM64
    c4.xlarge:
      Arch: HVM64
    c4.2xlarge:
      Arch: HVM64
    c4.4xlarge:
      Arch: HVM64
    c4.8xlarge:
      Arch: HVM64
    g2.2xlarge:
      Arch: HVMG2
    g2.8xlarge:
      Arch: HVMG2
    r3.large:
      Arch: HVM64
    r3.xlarge:
      Arch: HVM64
    r3.2xlarge:
      Arch: HVM64
    r3.4xlarge:
      Arch: HVM64
    r3.8xlarge:
      Arch: HVM64
    i2.xlarge:
      Arch: HVM64
    i2.2xlarge:
      Arch: HVM64
    i2.4xlarge:
      Arch: HVM64
    i2.8xlarge:
      Arch: HVM64
    d2.xlarge:
      Arch: HVM64
    d2.2xlarge:
      Arch: HVM64
    d2.4xlarge:
      Arch: HVM64
    d2.8xlarge:
      Arch: HVM64
    hi1.4xlarge:
      Arch: HVM64
    hs1.8xlarge:
      Arch: HVM64
    cr1.8xlarge:
      Arch: HVM64
    cc2.8xlarge:
      Arch: HVM64
  AWSRegionArch2AMI:
    us-east-1:
      HVM64: ami-0beafb294c86717a8
      HVMG2: ami-02354e95b39ca8dec
    us-west-2:
      HVM64: ami-041fcb43d4730cf32
      HVMG2: ami-0873b46c45c11058d
    us-west-1:
      HVM64: ami-0a1ef8665fe122a96
      HVMG2: ami-05655c267c89566dd
    eu-west-1:
      HVM64: ami-06cd7f9c4486344a5
      HVMG2: ami-07d9160fa81ccffb5
    eu-west-2:
      HVM64: ami-01ac84be28584498d
      HVMG2: ami-0a13d44dccf1f5cf6
    eu-west-3:
      HVM64: ami-0a682c61cac068f2f
      HVMG2: ami-093fa4c538885becf
    eu-central-1:
      HVM64: ami-05d403b512bf100eb
      HVMG2: ami-0c115dbd34c69a004
    eu-north-1:
      HVM64: ami-0dd62557e4298551a
      HVMG2: ami-039609244d2810a6b
    ap-northeast-1:
      HVM64: ami-0d1e3062992b86514
      HVMG2: ami-0cc75a8978fbbc969
    ap-northeast-2:
      HVM64: ami-07a28b8671656c8c1
      HVMG2: ami-0bd7691bf6470fe9c
    ap-northeast-3:
      HVM64: ami-0e740663443574970
      HVMG2: ami-043bb1ed348aaf857
    ap-southeast-1:
      HVM64: ami-00c3854c1706a382f
      HVMG2: ami-0cd31be676780afa7
    ap-southeast-2:
      HVM64: ami-09ba19d0563c3d553
      HVMG2: ami-0ded330691a314693
    ap-south-1:
      HVM64: ami-0571d68822206714c
      HVMG2: ami-0ebc1ac48dfd14136
    us-east-2:
      HVM64: ami-0f4665edc97a93bea
      HVMG2: ami-07c8bc5c1ce9598c3
    ca-central-1:
      HVM64: ami-0a7c38a2574890e5c
      HVMG2: ami-013d1df4bcea6ba95
    sa-east-1:
      HVM64: ami-0cd294bc0ed0be0e4
      HVMG2: ami-018ccfb6b4745882a
    cn-north-1:
      HVM64: ami-053617c9d818c1189
      HVMG2: NOT_SUPPORTED
    cn-northwest-1:
      HVM64: ami-0f7937761741dc640
      HVMG2: NOT_SUPPORTED
Outputs:
  URL:
    Value: !Join 
      - ''
      - - 'http://'
        - !GetAtt 
          - WebServerInstance
          - PublicIp
    Description: Newly created application URL
